.videoItem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 16px;
}

.videoItem__img {
    width: 100%;
}

.videoItem__text {
    margin-left: 16px;
}

.videoItem__title {
    font-size: 18px;
    color: var(--spec-text-color-primary);
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.videoItem__channelInfo {
    padding: 12px 0;
    display: flex;
    align-items: center;
    color: var(--spec-text-color-secondary);
}

.videoItem__channelName {
    padding-left: 8px;
    font-size: 12px;
}

.videoItem__description {
    color: var(--spec-text-color-secondary);
    font-size: 12px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

@media (max-width: 439px) {
    .videoItem {
        display: flex;
        flex-direction: column;
    }
}