.header {
    height: 56px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

.header__logo {
    padding: 18px 14px 18px 16px;
    width: 120px;
    object-fit: contain;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__toggleMenu {
    padding: var(--general-padding);
}

.header__toggleMenu:hover {
    cursor: pointer;
}

.header__icons {
    margin-left: var(--general-padding);
    display: flex;
    align-items: center;
}

.header__icon {
    padding: var(--general-padding);
    margin-right: var(--general-padding);
}

.search_icon {
    cursor: pointer;
}

.header__icon.avatar {
    width: 35px;
    height: 35px;
    margin-left: var(--general-padding);
    margin-right: calc(var(--general-padding) * 2);
}

.header__searchbar {
    width: 40%;
}

.searchBar__input {
    display: flex;
    align-items: center;
    background-color: var(--searchbox-background);
    border: 1px solid var(--searchbox-border-color);
    border-right: hidden;
    border-radius: 2px;
}

.searchBar__input > input {
    width: 100%;
    border: none;
    padding-left: 16px;
    color: var(--searchbox-text-color);
    font-size: 16px;
}

.searchBar__input > input:focus {
    outline: none;
}

.searchBar__searchButton {
    flex: 0 0 auto;
    width: 64px;
    height: 40px;
    background-color: var(--searchbox-button-color);
    border: none;
    border-left: 1px solid var(--searchbox-border-color);
    border-right: 1px solid var(--searchbox-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar__searchButton:hover {
    background-color: var(--searchbox-button-hover-color);
    cursor: pointer;
}