.homePlaceholder {
    margin-left: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--searchbox-button-color);
}

.homePlaceholder__container {
    margin: 0 var(--grid-item-margin);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.homePlaceholderCard {
    width: 100%;
    margin-bottom: 40px;
    margin-left: calc(var(--grid-item-margin)/2);
    margin-right: calc(var(--grid-item-margin)/2);
}

.homePlaceholderCard__img {
    width: 90%;
    height: 20vh;
    background-color: var(--searchbox-button-border-color);
}

.homePlaceholderCard__avatar {
    margin-right: 12px;
    width: 42px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--searchbox-button-border-color);
}

.homePlaceholderCard__text {
    background-color: var(--searchbox-button-border-color);
    height: 20px;
    margin-bottom: 6px;
}

.homePlaceholderCard__body {
    padding-top: 12px;
    display: flex;
}

@media (max-width: 1782px) {
    .homePlaceholder__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1127px) {
    .homePlaceholder__container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 720px) {
    .homePlaceholder {
        margin-left: 0;
    }
    .homePlaceholder__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .homePlaceholder__container {
        grid-template-columns: 1fr;
    }
}