.sidebarFullMenu {
    width: 240px;
    height: 100%;
    z-index: 2000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -240px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    background: white;
}
    .open {
      -webkit-transform: translateX(240px);
      transform: translateX(240px);
    }
    /* .menu {
          padding: 15px 20px;
          color: #fff;
    } */

.sidebarFullMenu__logo {
    padding: 18px 14px 18px 16px;
    width: 120px;
    object-fit: contain;
}

.sidebarFullMenu__top {
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.sidebarFullMenu__toggleIcon {
    padding: var(--general-padding);
}

.sidebarFullMenu__toggleIcon:hover {
    cursor: pointer;
}

.sidebarFullMenu__fullMenu {
    padding: 12px 0;
}

.sidebarRow {
    width: auto;
    height: 40px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    flex: 1;
    color: var(--spec-text-color-primary);
}

.sidebarRow:hover {
    background-color: var(--searchbox-button-hover-color);
    cursor: pointer;
}

.sidebarRow__icon {
    margin-right: 24px;
}
.sidebarRow__title {
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

