.sidebar {
    /* width: 100%; */
    background-color: white;
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
}

.sidebar__menu {
    padding: 0;
    display: flex;
    flex-direction: column;
}



.close {
    display: none;
}


.sidebarButton {
    width: 72px;
    padding: 16px 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: var(--spec-text-color-primary);
}

.sidebarButton:hover {
    background-color: var(--searchbox-button-hover-color);
    cursor: pointer;
}

.sidebarButton > h2 {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
}

.sidebarButton__icon {
    margin-bottom: 6px;
    font-size: 20px;
}