.tags {
    margin-left: 72px;
    padding-left: 24px;
    height: 56px;
    position: sticky;
    top: 56px;
    left: 0;
    background-color: white;
    border-top: 1px solid var(--searchbox-border-shadow-color);
    border-bottom: 1px solid var(--searchbox-border-shadow-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.tags::-webkit-scrollbar {
    display: none;
}

.tagButton {
    width: auto;
    height: 32px;
    margin: 12px 12px 12px 0;
    background-color: var(--searchbox-button-color);
    border: 1px solid var(--searchbox-border-color);
    border-radius: 16px;
    display: flex;
    align-items: center;
    
    transition: .2s ease all;
}

.tagButtonNoHover.selected {
    height: 32px;
    margin: 12px 12px 12px 0;
    background-color: var(--spec-text-color-primary);
    border: 1px solid var(--spec-text-color-primary);
    border-radius: 16px;
    display: flex;
    align-items: center;
    transition: .2s ease all;
}

.tagButtonNoHover.selected > .tagButton__text {
    color: var(--spec-text-color-primary-inverse);
    transition: .2s ease all;
    
}

.tagButton:hover {
    background-color: var(--searchbox-border-shadow-color);
    cursor: pointer;
    transition: .2s ease all;
}

.tagButton__text {
    width: 100%;
    padding: 0 12px;
    white-space: nowrap;
}

@media (max-width: 825px) {
    .tags {
        justify-content: start;
    }
}

@media (max-width: 720px) {
    .tags {
        margin-left: 0;
    }
}
