.sidebarButton {
    width: 72px;
    padding: 16px 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.sidebarButton:hover {
    background-color: var(--searchbox-button-hover-color);
    cursor: pointer;
}

.sidebarButton > h2 {
    font-size: 12px;
    font-weight: 400;
}

.sidebarButton__icon {
    margin-bottom: 6px;
    font-size: 20px;
}