* {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;   
}

a {
    text-decoration: none;
}

:root {
    --searchbox-border-color: #ccc;
    --searchbox-border-shadow-color: #eee;
    --searchbox-button-color: #f8f8f8;
    --searchbox-button-border-color: #d3d3d3;
    --searchbox-button-hover-color: #f0f0f0;
    --searchbox-button-hover-border-color: #c6c6c6;
    --searchbox-background: hsl(0, 0%, 100%);
    --searchbox-text-color: hsl(0, 0%, 6.7%);
    --spec-themed-blue: #065fd4;
    --spec-brand-button-background: #c00;
    --spec-text-color-primary: #030303;
    --spec-text-color-primary-inverse: #fff;
    --spec-text-color-secondary: #606060;
    --spec-text-color-disable: #909090;
    --general-padding: 0.5rem;
    --grid-item-margin: 16px;
    --grid-item-min-width: 320px;
    --grid-item-max-width: 360px;
    --grid-items-per-row: 3;
    --grid-posts-per-row: 3;
    --grid-slim-items-per-row: 3;

}
.under_construction_pic__container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.under_construction_pic {
    width: 20vh;
}