.videoInfo {
    height: auto;
}

.videoInfo__top {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.videoInfo__top_left {
    display: flex;
    align-items: center;
}

.videoInfo__avatar {
    margin-right: 16px;
}

.videoInfo__channelName {
    color: var(--spec-text-color-primary);
    font-weight: 500;
}

.videoInfo__subscribeCount, .videoInfo__show_full_info, .videoInfo__hide_full_info {
    color: var(--spec-text-color-secondary);
    font-size: 0.8rem;
}

.videoInfo__subscribeBtn {
    background-color: var(--spec-brand-button-background);
    color: var(--spec-text-color-primary-inverse);
    border: none;
    border-radius: 2px;
    padding: 10px 22px;
}

.videoInfo__description {
    margin: 24px 76px 0 58px;
    height: 60px;
    overflow: hidden;
}

.videoInfo__descriptionFull {
    margin: 24px 76px 0 58px;
}

.videoInfo__show_full_info, .videoInfo__hide_full_info {
    margin: 12px 0 0 58px;
    padding-bottom: 24px;
    cursor: pointer;
}

.videoInfo__hide_full_info {
    position: relative;
}

.hide {
    display: none;
}
