.videoInfo__top {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.videoInfo__top_left {
    display: flex;
    align-items: center;
}

.videoInfo__avatar {
    margin-right: 16px;
}

.videoInfo__channelTitle {
    color: var(--spec-text-color-primary);
    font-weight: 500;
}

.videoInfo__subscribeCount {
    color: var(--spec-text-color-secondary);
    font-size: 0.8rem;
}

.videoInfo__subscribeBtn {
    background-color: var(--spec-brand-button-background);
    color: var(--spec-text-color-primary-inverse);
    border: none;
    border-radius: 2px;
    padding: 10px 22px;
}

.videoInfo__description {
    margin: 24px 76px 0 58px;

}
